gradio>=5.0.0
plotly>=5.0.0
torch>=2.0.0
torchvision>=0.15.0
decord
opencv-python
imageio[ffmpeg]
timm==0.4.12
ultralytics
pillow
numpy
scikit-learn
pandas
tqdm
huggingface-hub
einops
tensorboardX
matplotlib
lpips
psutil
