gradio>=5.0.0
plotly>=5.0.0
torch>=2.0.0
torchvision>=0.15.0
decord
opencv-python
imageio[ffmpeg]
t.4.12imm==0
ultralytics
pillow
numpy
scikit-learn
pandas
tqdm
huggingface_hub
einops
tensorboardX
matplotlib
lpips
psutil
